-#-----------------------------------------------------------------------------
-#
-# Biocomfort Diagnostics GmbH & Co. KG
-#            Copyright (c) 2008 - 2012. All Rights Reserved.
-# Reproduction or modification is strictly prohibited without express
-# written consent of Biocomfort Diagnostics GmbH & Co. KG.
-#
-#-----------------------------------------------------------------------------
-#
-# Contact: vollmer@biocomfort.de
-#
-#-----------------------------------------------------------------------------
-#
-# Filename: new.html.haml
-#
-#-----------------------------------------------------------------------------

%h1.heading
  = 'Add new user'

= semantic_form_for(@user) do |form|
  = form.error_messages

  = render 'form', :form => form, :action => 'new'
  = form.buttons do
    = form.commit_button 'Add user'

%p.actions
  = link_to 'Cancel', root_path
