-#-----------------------------------------------------------------------------
-#
-# Biocomfort Diagnostics GmbH & Co. KG
-#            Copyright (c) 2008 - 2012. All Rights Reserved.
-# Reproduction or modification is strictly prohibited without express
-# written consent of Biocomfort Diagnostics GmbH & Co. KG.
-#
-#-----------------------------------------------------------------------------
-#
-# Contact: vollmer@biocomfort.de
-#
-#-----------------------------------------------------------------------------
-#
-# Filename: new.html.haml
-#
-#-----------------------------------------------------------------------------

.title-container
  %h1.heading
    = 'Add new project'
  .actions_top
    %p.actions
      = link_to 'Cancel', projects_path

= semantic_form_for(@project) do |form|
  = form.error_messages

  = render 'form', :form => form
  = form.buttons do
    = form.commit_button 'Add project'

