-#-----------------------------------------------------------------------------
-#
-# Biocomfort Diagnostics GmbH & Co. KG
-#            Copyright (c) 2008 - 2012. All Rights Reserved.
-# Reproduction or modification is strictly prohibited without express
-# written consent of Biocomfort Diagnostics GmbH & Co. KG.
-#
-#-----------------------------------------------------------------------------
-#
-# Contact: vollmer@biocomfort.de
-#
-#-----------------------------------------------------------------------------
-#
-# Filename: new.html.haml
-#
-#-----------------------------------------------------------------------------

- content_for :head do
  = javascript_include_tag "gateway_new_form"

.title-container
  %h1.heading
    = 'Add new gateway'
  .actions_top
    = link_to 'Cancel', root_path


= semantic_form_for(@gateway) do |form|
  = form.error_messages

  = render 'form', :form => form
  
  = form.semantic_fields_for :configuration, :name => 'Debug configuration' do |form|
    = render 'configurations/debug_form', :form => form

  .configuration_params
    = form.semantic_fields_for :configuration, :name => 'Configuration' do |form|
      = render 'configurations/form', :form => form

  = form.buttons do
    = form.commit_button 'Add gateway with default values'

.middle_actions

  %p.actions
    =link_to 'or modify the configuration params', nil, :class => 'show_configuration_link'
    =link_to 'Reset the configuration params', nil, :class => 'reset_configuration_link', :style => 'display:none'

:javascript
  var default_fields = "#{configuration_default_fields()}".split(',');
  var default_values = "#{configuration_default_values()}".split(',');
